header {
  color: white;
  text-align: center;
}
header h1, .titleDogs h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
}


.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);

}

.work-box:hover img {
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

@media (min-width: 280) and (max-width: 540px){

  
}